Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Fix SMS Registration 400 Error - Add Worker Token Validation (v9.2.4)
  src/v8/flows/unified/components/UnifiedDeviceRegistrationForm.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Update version to 9.2.4 for SMS registration fix
  package.json
Due: biome format --write

Create Reusable OTP Template for All Device Types (v9.2.5)
  docs/otp-template-guide.md
  src/v8/flows/unified/components/UnifiedActivationStep.tsx
  src/v8/flows/unified/components/UnifiedDeviceRegistrationForm.tsx
  src/v8/flows/unified/components/UnifiedDeviceSelectionModal.tsx
  src/v8/flows/unified/components/UnifiedOTPActivationTemplate.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Update version to 9.2.5 for OTP template implementation
  package.json
Due: biome format --write

Fix SMS Registration 400 Error - Align with Working MFA-HUB Implementation (v9.2.6)
  server.js
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Update version to 9.2.6 for SMS registration fix
  package.json
Due: biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
