Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

Make Tools & Utilities group visible in sidebar
  src/components/DragDropSidebar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Add fast prevention checks to PROTECT_PORTAL_INVENTORY.md
  PROTECT_PORTAL_INVENTORY.md
Due: biome format --write

Add device policy information display to delete-all-devices page
  PRODUCTION_INVENTORY.md
  src/v8/pages/DeleteAllDevicesUtilityV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Add PROD-003: Token monitoring dropdown caching issue resolution
  PRODUCTION_INVENTORY.md
Due: biome format --write

Fix multiple Production issues and improve menu organization
  PRODUCTION_INVENTORY.md
  Prompts.md
  src/components/DragDropSidebar.tsx
  src/pages/EnvironmentManagementPageV8.tsx
  src/v8/components/SilentApiConfigCheckboxV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Add last file name display to User Login Modal - Issue 62
  UNIFIED_MFA_INVENTORY.md
  src/v8/components/UserLoginModalV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write
