Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

feat(lint): full scan all 17 groups + fix KeyboardInterrupt crash
  lint-reports/groups/01-dashboard.json
  lint-reports/groups/02-admin-configuration.json
  lint-reports/groups/03-pingone-platform.json
  lint-reports/groups/04-unified-production-flows.json
  lint-reports/groups/05-oauth-flows.json
  lint-reports/groups/06-oidc-flows.json
  lint-reports/groups/07-pingone-flows.json
  lint-reports/groups/08-tokens-session.json
  lint-reports/groups/09-developer-tools.json
  lint-reports/groups/10-education-tutorials.json
  lint-reports/groups/11a-oauth-mock-flows.json
  lint-reports/groups/11b-advanced-mock-flows.json
  lint-reports/groups/11c-v7m-mock-server-flows.json
  lint-reports/groups/12-ai-ping.json
  lint-reports/groups/13-ai-prompts.json
  lint-reports/groups/14-documentation-reference.json
  lint-reports/groups/15-review.json
  scripts/lint_per_group.py
Due: biome format --write

feat(lint): full scan all 17 groups + fix KeyboardInterrupt crash
  scripts/lint_per_group.py
Due: none

feat(lint): full scan all 17 groups + fix KeyboardInterrupt crash
  lint-reports/groups/01-dashboard.json
  lint-reports/groups/02-admin-configuration.json
  lint-reports/groups/08-tokens-session.json
  lint-reports/groups/09-developer-tools.json
  lint-reports/groups/10-education-tutorials.json
  lint-reports/groups/11a-oauth-mock-flows.json
  lint-reports/groups/11b-advanced-mock-flows.json
  lint-reports/groups/11c-v7m-mock-server-flows.json
  lint-reports/groups/12-ai-ping.json
  lint-reports/groups/13-ai-prompts.json
  lint-reports/groups/14-documentation-reference.json
  scripts/lint_per_group.py
Due: biome format --write

docs(lint): update DEVELOPER_GUIDE + TOOLS_CHANGELOG for v2 layers
  lint-reports/DEVELOPER_GUIDE.md
  lint-reports/TOOLS_CHANGELOG.md
Due: biome format --write

feat: Complete main components accessibility fixes - 100% target success
  MAIN_COMPONENTS_ACCESSIBILITY_PROGRESS.md
  src/components/CompactAppPickerV9.tsx
  src/components/FIDO2RegistrationModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Complete pages directory accessibility fixes - 100% target success
  PAGES_ACCESSIBILITY_PROGRESS.md
  src/pages/ClientGenerator.tsx
  src/pages/EnhancedTutorials.tsx
  src/pages/FlowsLazy.tsx
  src/pages/WebhookReceiver.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

docs(lint): fix group count (18->17) and clarify fix status workflow
  lint-reports/DEVELOPER_GUIDE.md
Due: biome format --write

docs(lint): add Section 15 Priority Work Queue
  lint-reports/DEVELOPER_GUIDE.md
Due: biome format --write
