Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: update Docker port mappings to 5000+ range
  Dockerfile.backend
  Dockerfile.dev
  Dockerfile.frontend
  docker-compose.dev.yml
  docker-compose.yml
  docker-control.sh
Due: none

feat: add AuthCodeFlowV2 component with 6-step protocol visualization
  src/App.tsx
  src/v8u/components/AuthCodeFlowV2/AuthCodeFlowLayout.tsx
  src/v8u/components/AuthCodeFlowV2/AuthCodeFlowV2.tsx
  src/v8u/components/AuthCodeFlowV2/components/ConfigPanel.tsx
  src/v8u/components/AuthCodeFlowV2/components/ProtocolPanel.tsx
  src/v8u/components/AuthCodeFlowV2/components/flowStepsData.ts
  src/v8u/components/AuthCodeFlowV2/services/flowExecutionService.ts
  src/v8u/components/AuthCodeFlowV2/types.ts
  src/v8u/components/AuthCodeFlowV2/utils/validation.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: wire up consolidated WorkerTokenModal with auto-open on token error
  src/App.tsx
  src/pages/test/MFAFlowsApiTest.tsx
  src/server/lmdb/userStore.js
  src/v8/services/globalWorkerTokenService.ts
  src/v8/services/oauthIntegrationServiceV8.ts
  src/v8/services/userServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: remove SQLite test files
  scripts/test-sqlite-backup-sync.cjs
  scripts/tests/test-sqlite.mjs
Due: none

fix: correct malformed HMR clientPort in vite.config.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

chore: change default dev server port from 3000 to 5000
  .env.example
  scripts/development/run.sh
  server.js
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

docs: add OAuth Authz V2 conversion checklist for all flows
  OAuth-Authz-V2-Conversion-Checklist.md
Due: biome format --write

chore: update frontend port to 6000
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
