Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

fix: delete-all-devices — reactive token status + compact WorkerTokenSection
  src/v8/pages/DeleteAllDevicesUtilityV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: delete-all-devices — red gradient header per migrate_vscode.md
  src/v8/pages/DeleteAllDevicesUtilityV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: delete-all-devices - full WorkerTokenSectionV8 migration
  src/v8/pages/DeleteAllDevicesUtilityV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: biome contexts + v8/pages - 0 errors 0 warnings across 45 files
  src/contexts/FloatingStepperContext.tsx
  src/contexts/NewAuthContext.tsx
  src/contexts/__tests__/NewAuthContext.enhanced.test.tsx
  src/v8/pages/DeviceAuthenticationDetailsV8.tsx
  src/v8/pages/UnifiedCredentialsMockupV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: suppress noisy Token Query polling log in server.js
  server.js
Due: biome format --write

fix: unifiedTokenStorageService getTokens .data unwrap + add /api/settings/environment-id
  server.js
  src/services/unifiedTokenStorageService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write
