Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

docs: update STANDARDIZATION_HANDOFF with utils/components/pages migration rows and HEAD b9c4b923a
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update STANDARDIZATION_HANDOFF with utils/components/pages migration rows and HEAD 783689d15
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update STANDARDIZATION_HANDOFF with utils/components/pages migration rows and HEAD 891c1c4fc
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update STANDARDIZATION_HANDOFF with utils/components/pages migration rows and HEAD aeff802d3
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update STANDARDIZATION_HANDOFF with utils/components/pages migration rows and HEAD e1095565e
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update STANDARDIZATION_HANDOFF with utils/components/pages migration rows and HEAD 07169fadc
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

v9.14.0: Medium Impact - Validation Service Integration
  src/v8/flows/TokenExchangeFlowV8.tsx
  src/v8/services/unifiedMFASuccessPageServiceV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

refactor: remove debug console.log calls and dead styled components from UserInfoFlow.tsx
  src/pages/flows/UserInfoFlow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

v9.15.1: Advanced Testing Suite - Comprehensive Test Coverage
  linter_errors_manual.json
  src/v8/flows/__tests__/TokenExchangeFlowV8.test.tsx
  src/v8/services/__tests__/unifiedMFASuccessPageServiceV8.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

v9.15.2: Performance Optimization - Enhanced Bundle Splitting & Loading
  src/App.tsx
  src/components/LoadingFallback.tsx
  src/services/performanceService.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix
