Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Add Token Status monitoring page with real-time dashboard
  src/App.tsx
  src/apps/navigation/components/DragDropSidebar.tsx.V2.tsx
  src/pages/TokenStatusPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Resolve DeviceManagementV9 service method errors
  src/pages/DeviceManagementV9.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Resolve SDKExamplesHomePingUI useGlobalWorkerToken hook error
  src/pages/sdk-examples/SDKExamplesHome.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Add missing educational pages (debug-logs, code-generators, security-guides)
  src/App.tsx
  src/apps/navigation/components/DragDropSidebar.tsx.V2.tsx
  src/pages/CodeGeneratorsPage.tsx
  src/pages/DebugLogsPage.tsx
  src/pages/SecurityGuidesPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Add MDI CSS import to resolve missing close button icons
  index.html
Due: none

fix: Resolve WebSocket connection issues and duplicate import errors
  src/App.tsx
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Remove duplicate htmlFor attribute in AppDiscoveryModalV8U
  src/v8u/components/AppDiscoveryModalV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Resolve dark text on dark background visibility issues in modal close buttons
  src/apps/mfa/components/TokenEndpointAuthModal.PingUI.tsx
  src/apps/mfa/components/TokenOperationsEducationModalV8.PingUI.tsx
  src/apps/mfa/components/WorkerTokenPromptModalV8.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Recreate CodeGeneratorsPage with proper syntax and functionality
  src/pages/CodeGeneratorsPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Add startup.log logging and tail -n 200 commands to startup scripts
  scripts/development/run.sh
  scripts/startup-enhanced.sh
  scripts/startup-prompt.sh
Due: none

feat: Begin systematic console.log removal in favor of disk-based logging
  src/services/credentialBackupService.ts
  src/services/qrCodeService.ts
  src/utils/clientLogger.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Remove duplicate CodeGeneratorsPage and add OAuth/MFA generators to menu
  src/App.tsx
  src/apps/navigation/components/DragDropSidebar.tsx.V2.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: V9 PingOne UI upgrades for Code Generators with new messaging system
  src/App.tsx
  src/components/InteractiveCodeEditor.V9.tsx
  src/components/MfaFlowCodeGenerator.V9.tsx
  src/pages/OAuthCodeGeneratorHub.V9.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Implement unified logging system with consistent formatting
  scripts/initialize-logs.js
  server.js
  src/utils/clientLogger.ts
  src/utils/unifiedLogger.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
