Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

chore: sync package-lock with dependency tree changes
  package-lock.json
Due: biome format --write

chore: bump module versions + npm audit fix (high ws vuln)
  package-lock.json
  package.json
Due: biome format --write

chore(biome): scope config to app code; enforce lint (not format) in check
  biome.json
  package.json
Due: biome format --write

chore(eslint): green the syntax-check ESLint gate
  eslint.config.js
  scripts/maintenance/clear-test-credentials.js
  scripts/vault-migrate.cjs
  scripts/vault.cjs
  server.js
  src/components/AIAssistantSidePanel.tsx
  src/components/JSONHighlighter.tsx
  src/contexts/NewAuthContext.tsx
  src/contexts/UISettingsContext.tsx
  src/hooks/useAsyncEffect.ts
  src/hooks/useAuthorizationCodeFlowController.ts
  src/pages/flows/AdvancedOAuthParametersDemoFlow.tsx
  src/sdk-examples/davinci-todo-app/services/davinciTodoService.ts
  src/services/authorizationCodeSharedService.ts
  src/services/authorizationUrlValidationService.ts
  src/services/comprehensiveCredentialsService.tsx
  src/services/dpopService.ts
  src/services/parConfigurationService.tsx
  src/services/pingOneAppCreationService.ts
  src/services/rarService.ts
  src/utils/presetMigration.ts
  src/utils/presetValidation.ts
  src/v8/components/UserLoginModalV8.tsx
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8/lockdown/fido2/snapshot/server.js
  src/v8u/components/AuthCodeFlowV2/AuthCodeFlowLayout.tsx
  src/v8u/components/OAuthAuthzV2/OAuthAuthzLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(flows2): add self-hiding UseCaseBanner for flow pages
  src/flows2/framework/UseCaseBanner.tsx
  src/flows2/framework/__tests__/UseCaseBanner.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(flows2): add /v2/use-cases page with route and nav entry
  src/App.tsx
  src/config/sidebarMenuConfig.ts
  src/flows2/use-cases/UseCasesPage.tsx
  src/flows2/use-cases/__tests__/UseCasesPage.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(flows2): show UseCaseBanner on core flows reached from use cases
  src/flows2/flows/authorizationCode.flow.tsx
  src/flows2/flows/clientCredentials.flow.tsx
  src/flows2/flows/oidcDiscovery.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: design system foundation (phase 1) implementation plan
  docs/superpowers/plans/2026-07-05-design-system-foundation.md
Due: biome format --write

docs: design system standard + pilot rollout spec
  docs/superpowers/specs/2026-07-05-design-system-standard-design.md
Due: biome format --write

a11y(flows2): expose disclosure state on use-case chips
  src/flows2/use-cases/UseCasesPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

refactor(design): move tokens to src/design with flows2 re-export shim
  src/design/__tests__/design.test.tsx
  src/design/tokens.ts
  src/flows2/framework/tokens.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

refactor(design): promote primitives to src/design with flows2 re-export shim
  src/design/__tests__/design.test.tsx
  src/design/primitives.tsx
  src/flows2/framework/primitives.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(design): add typography recipe, PageShell, and barrel export
  src/design/PageShell.tsx
  src/design/__tests__/design.test.tsx
  src/design/index.ts
  src/design/typography.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(design): add /design living style guide with route and nav
  src/App.tsx
  src/config/sidebarMenuConfig.ts
  src/pages/design/DesignSystemPage.tsx
  src/pages/design/__tests__/DesignSystemPage.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(flows2): restore useCases catalog and fix UseCaseBanner JSX placement
  src/flows2/content/useCases.ts
  src/flows2/flows/authorizationCode.flow.tsx
  src/flows2/flows/clientCredentials.flow.tsx
  src/flows2/flows/oidcDiscovery.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

test(flows2): align mock auth-code test secret with MOCK_REGISTERED_SECRET
  src/flows2/services/__tests__/authorizationCodeService.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(lmdb): wire settings API to LMDB settingsStore (phase 1)
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  server.js
  src/server/lmdb/__tests__/settingsAdapter.test.ts
  src/server/lmdb/migrateSettingsSqlite.js
  src/server/lmdb/settingsAdapter.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(lmdb): migrate worker token history from SQLite to LMDB (phase 2)
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  src/server/lmdb/__tests__/workerTokenRecordStore.test.ts
  src/server/lmdb/migrateWorkerTokensSqlite.js
  src/server/lmdb/workerTokenRecordStore.js
  src/server/routes/workerTokenApiRoutes.js
  src/server/services/workerTokenDatabaseService.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(storage): remove dead SQLite user service refs (LMDB phase 3)
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  package-lock.json
  package.json
  scripts/sync-users-cli.mjs
  server.js
Due: biome format --write

test(e2e): fix unified oauth input-field flake and add local :8000 config
  .gitignore
  playwright.config.local-8000.ts
  tests/e2e/unified-oauth-simple.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs(test): triage legacy v8/MFA Vitest failures (150/684)
  docs/V8_MFA_TEST_TRIAGE.md
Due: biome format --write
