Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

refactor: PingOneAuditActivities — migrate localStorage to unifiedWorkerTokenService
  docs/migration/migrate_vscode.md
  src/pages/PingOneAuditActivities.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: EnvironmentManagementPageV8 color compliance + broken buttons
  src/pages/EnvironmentManagementPageV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: add unicode escape backslash to mdi icon content values in icons.css
  src/styles/icons.css
Due: none

fix: CustomDomainTestPage — inline params per card + useNotifications instead of alert()
  src/pages/CustomDomainTestPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: HelioMartPasswordReset — no auto-open modal on launch + export/import config buttons
  src/pages/security/HelioMartPasswordReset.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: ApiStatusPage remove PageLayoutService crash + CustomDomainTestPage real API endpoints
  src/pages/CustomDomainTestPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
