Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

feat: Add -quick parameter to run.sh to skip all prompts
  run.sh
Due: none

feat: Add API display service and environments section to SDK Examples Home
  src/pages/sdk-examples/SDKExamplesHome.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Resolve React hook dependency warning in SDKExamplesHome
  src/pages/sdk-examples/SDKExamplesHome.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Move loadEnvironments declaration before useEffect
  src/pages/sdk-examples/SDKExamplesHome.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Enhance Environment Management page with educational content and API logging
  package.json
  server.js
  src/pages/EnvironmentManagementPageV8.tsx
  src/server/data/backups.db
  src/server/data/settings.db
  src/services/environmentServiceV8.ts.backup
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Enhance Environment Management page with educational content and API logging
  package.json
  server.js
  src/pages/EnvironmentManagementPageV8.tsx
  src/services/environmentServiceV8.ts.backup
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Fix import paths in SDKExamplesHome.tsx
  src/pages/sdk-examples/SDKExamplesHome.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
