Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: add educational flow spec, mock drafts, and cert-trust script
  EDUCATIONAL_FLOW_SPEC.md
  authcode-redesign-mock.html
  educational-flow-mock-v2.html
  educational-flow-mock.html
  scripts/trust-cert.sh
Due: biome format --write

fix: resolve 9 of 10 remaining critical bugs in OAuth flows
  src/flows2/flows/ImplicitHybridCallback.tsx
  src/flows2/flows/hybrid.flow.tsx
  src/flows2/services/deviceAuthorizationService.ts
  src/flows2/services/parService.ts
  src/flows2/services/redirectlessService.ts
  src/flows2/services/samlBearerService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: resolve 7 critical bugs in OAuth flows
  src/flows2/flows/ImplicitHybridCallback.tsx
  src/flows2/flows/authorizationCode.flow.redesign.tsx
  src/flows2/flows/clientCredentials.flow.tsx
  src/flows2/flows/deviceAuthorization.flow.tsx
  src/flows2/flows/ropc.flow.tsx
  src/flows2/services/redirectlessService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: resolve 4 critical configuration page bugs
  src/flows2/flows/ImplicitHybridCallback.tsx
  src/flows2/flows/authorizationCode.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: resolve 3 critical bugs in error handling and flow framework
  src/flows2/flows/AuthCallback.tsx
  src/flows2/flows/ImplicitHybridCallback.tsx
  src/flows2/framework/useFlowEngine.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: resolve 9 MFA service bugs (security, logic, data)
  server.js
  src/v8/services/emailMfaSignOnFlowServiceV8.ts
  src/v8/services/mfaAuthenticationServiceV8.ts
  src/v8/services/mfaRedirectUriServiceV8.ts
  src/v8/services/mfaReportingServiceV8.ts
  src/v8/services/mfaServiceV8.ts
  src/v8/services/unifiedMFAResumeStepResolverV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
