Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

Improve NO_USABLE_DEVICES error handling and fix lint
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Clarify error message: notification rate limit vs auth attempts
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Fix setSearchQuery runtime error - it's actually used
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Fix user search: add await to async calls and fix FTS table references
  src/server/data/users.db-shm
  src/server/data/users.db-wal
  src/server/routes/userApiRoutes.js
  src/server/services/userDatabaseService.js
Due: biome format --write

Improve user search: prefix matching + LIKE fallback, display as 'username - email'
  src/server/services/userDatabaseService.js
  src/v8/components/SearchableDropdownV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Fix worker token modal: show after successful retrieval when checkbox enabled
  src/v8/utils/workerTokenModalHelperV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix
