Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Fix Unified MFA callback routing and create comprehensive redirect URI documentation
  docs/redirect-uris-guide.md
  src/v8u/components/CallbackHandlerV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Fix runtime ReferenceErrors in API display and MFA registration
  src/v8/components/SuperSimpleApiDisplayV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8_Legacy.tsx
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Fix critical MFA authentication and flow compliance issues following SWE-15 guide
  UNIFIED_MFA_INVENTORY.md
  src/v8/components/AuthenticationFlowStepperV8.tsx
  src/v8/components/UserLoginModalV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8_Legacy.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Version 9.3.1: Add JWT vs OPAQUE token support documentation and SQLite resource exhaustion analysis
  UNIFIED_MFA_INVENTORY.md
  package.json
Due: biome format --write

Version 9.3.2 - Fixed multiple critical issues following SWE-15 guide methodology
  UNIFIED_MFA_INVENTORY.md
  package.json
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8_Legacy.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: redirect URI routing + silent API modal (v9.3.3/7.7.4)
  UNIFIED_MFA_INVENTORY.md
  package.json
  server-package.json
  src/v8u/components/CallbackHandlerV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
