Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

fix: resolve 9 MFA service bugs (security, logic, data)
  server.js
  src/v8/services/emailMfaSignOnFlowServiceV8.ts
  src/v8/services/mfaAuthenticationServiceV8.ts
  src/v8/services/mfaRedirectUriServiceV8.ts
  src/v8/services/mfaReportingServiceV8.ts
  src/v8/services/mfaServiceV8.ts
  src/v8/services/unifiedMFAResumeStepResolverV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: remaining bugs in flows2 services and components
  src/flows2/flows/AuthorizationCodeEducational.tsx
  src/flows2/flows/hybrid.flow.tsx
  src/flows2/services/tokenIntrospectionService.ts
  src/v8/services/emailMfaSignOnFlowServiceV8.ts
  src/v8/services/mfaAuthenticationServiceV8.ts
  src/v8/services/mfaRedirectUriServiceV8.ts
  src/v8/services/mfaReportingServiceV8.ts
  src/v8/services/mfaServiceV8.ts
  src/v8/services/unifiedMFAResumeStepResolverV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: add flows2 look-and-feel standardization tracker
  docs/flows2-standardization.md
Due: biome format --write

fix: resolve 9 MFA service bugs (security, logic, data)
  src/v8/services/emailMfaSignOnFlowServiceV8.ts
  src/v8/services/mfaAuthenticationServiceV8.ts
  src/v8/services/mfaRedirectUriServiceV8.ts
  src/v8/services/mfaReportingServiceV8.ts
  src/v8/services/mfaServiceV8.ts
  src/v8/services/unifiedMFAResumeStepResolverV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: extract shared look-and-feel primitives (Phase 0 foundation)
  src/flows2/flows/authorizationCode.flow.tsx
  src/flows2/framework/FlowDiagram.tsx
  src/flows2/framework/primitives.tsx
  src/flows2/framework/tokens.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: add reusable step-module catalog + extensibility model
  docs/flows2-standardization.md
Due: biome format --write

flows2: standardize PAR look-and-feel to match authorization-code
  docs/flows2-standardization.md
  src/flows2/flows/par.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: 7 verified bugs across server proxy, token storage, credentials
  server.js
  src/services/unifiedTokenStorageService.ts
  src/utils/credentialManager.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

flows2: standardize Hybrid look-and-feel to match authorization-code
  src/flows2/flows/hybrid.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize ROPC look-and-feel to match authorization-code
  src/flows2/flows/ropc.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize Token Introspection look-and-feel to match authorization-code
  src/flows2/flows/tokenIntrospection.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize Refresh Token look-and-feel to match authorization-code
  src/flows2/flows/refreshToken.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize OIDC Discovery look-and-feel to match authorization-code
  src/flows2/flows/oidcDiscovery.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize Token Revocation look-and-feel to match authorization-code
  src/flows2/flows/tokenRevocation.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize Device Authorization look-and-feel to match authorization-code
  src/flows2/flows/deviceAuthorization.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize SAML Bearer Assertion look-and-feel to match authorization-code
  src/flows2/flows/samlBearerAssertion.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize DPoP look-and-feel to match authorization-code
  src/flows2/flows/dpop.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: standardize Implicit/Hybrid look-and-feel to match authorization-code
  src/flows2/flows/implicitHybrid.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
