Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

feat: Update inventory and add Dashboard to navigation menu (v9.4.9)
  UNIFIED_MFA_INVENTORY.md
  src/components/Navbar.tsx
  src/pages/security/HelioMartPasswordReset.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Add Core Overview section to sidebar menu (v9.4.9)
  src/components/Sidebar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Document redirect URI issues and prevention strategies (v9.4.9)
  UNIFIED_MFA_INVENTORY.md
Due: biome format --write

feat: Add app lookup and worker token buttons to password reset page (v9.4.9)
  src/pages/security/HelioMartPasswordReset.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: React hooks regression in HelioMartPasswordReset - Issue 97 (v9.4.9)
  UNIFIED_MFA_INVENTORY.md
  src/pages/security/HelioMartPasswordReset.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: Isolate React hooks issue by removing all new imports (v9.4.9)
  src/pages/security/HelioMartPasswordReset.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
