Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(v9): add DPoP V9 flow + infinite loop fixes + FlowCredentials layout
  docs/fixes/INFINITE_LOOP_PREVENTION_TEST_SUMMARY.md
  scripts/tests/test-infinite-loop-prevention-simple.sh
  scripts/tests/test-infinite-loop-prevention.sh
  src/components/FlowCredentials.tsx
  src/hooks/useImplicitFlowController.ts
  src/pages/flows/TokenRevocationFlow.tsx
  src/pages/flows/v9/DPoPAuthorizationCodeFlowV9.tsx
  src/test/infinite-loop-prevention.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: bump version to 9.12.12
  package.json
Due: biome format --write

fix(biome): resolve all biome warnings across 4 files
  src/components/FlowCredentials.tsx
  src/hooks/useImplicitFlowController.ts
  src/pages/flows/TokenRevocationFlow.tsx
  src/test/infinite-loop-prevention.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: retire DPoP V8 sidebar entry + add biome/lessons-learned rules
  A-Migration/ZERO_TOLERANCE_MIGRATION_RULES.md
  src/App.tsx
  src/config/sidebarMenuConfig.ts
  src/pages/flows/v9/DPoPAuthorizationCodeFlowV9.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(v9): retire final 3 V7 sidebar entries — redirectless + condensed mocks
  src/App.tsx
  src/config/sidebarMenuConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(v7m): expose V7M mock flows in sidebar + migration plan
  A-Migration/V7M_MOCK_FLOWS_MIGRATION_PLAN.md
  src/config/sidebarMenuConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
