Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Bump version to 9.11.78 - Vercel deployment with selectedFlowType fix
  package.json
Due: biome format --write

Restore MFA admin screen with authentication/registration selection
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8_Legacy.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Bump version to 9.11.79 - MFA admin screen restoration deployed
  package.json
Due: biome format --write

Fix all TypeScript errors and warnings in MFA services
  src/v8/services/mfaServiceV8.ts
  src/v8/services/mfaServiceV8_Legacy.ts
  src/v8/services/specVersionServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Add -Background parameter to run.sh script
  run.sh
Due: none

Fix TypeError in UnifiedMFARegistrationFlowV8_Legacy.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8_Legacy.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
