Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: update frontend port to 6000
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: update start-full-stack.sh default ports to 6000/5001
  scripts/dev/start-full-stack.sh
Due: none

fix: repair server.js syntax error and missing startServers() invocation
  server.js
Due: biome format --write

chore: update frontend port from 6000 to 8000
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  scripts/dev/start-full-stack.sh
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: move route handler before startServers() call
  server.js
Due: biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
