Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

flows2: add shared UseTokensStep registry (reusable step-module §7.3)
  src/flows2/flows/authorizationCode.flow.tsx
  src/flows2/framework/UseTokensStep.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: security and robustness improvements across flows2 OAuth/OIDC
  .claire/worktrees/flows2-standardize/src/flows2/flows/oidcDiscovery.flow.tsx
  src/flows2/flows/AuthorizationCodeEducational.tsx
  src/flows2/flows/ImplicitHybridCallback.tsx
  src/flows2/flows/hybrid.flow.tsx
  src/flows2/framework/CodeBlock.tsx
  src/flows2/framework/authzStash.ts
  src/flows2/services/clientCredentialsService.ts
  src/flows2/services/oidcDiscoveryService.ts
  src/flows2/services/redirectlessService.ts
  src/flows2/services/refreshTokenService.ts
  src/flows2/services/tokenExchangeService.ts
  src/flows2/services/tokenIntrospectionService.ts
  src/flows2/services/tokenRevocationService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: add shared UseTokensStep to token-yielding flows
  src/flows2/flows/deviceAuthorization.flow.tsx
  src/flows2/flows/implicitHybrid.flow.tsx
  src/flows2/flows/par.flow.tsx
  src/flows2/flows/redirectless.flow.tsx
  src/flows2/flows/refreshToken.flow.tsx
  src/flows2/flows/ropc.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: adopt UseTokensStep in flows that had inline token tools
  src/flows2/flows/clientCredentials.flow.tsx
  src/flows2/flows/hybrid.flow.tsx
  src/flows2/flows/tokenExchange.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: mark UseTokensStep (§7.3) built and wired across flows
  docs/flows2-standardization.md
Due: biome format --write

flows2: add RefreshPanel to the UseTokensStep registry (RFC 6749 §6)
  src/flows2/flows/deviceAuthorization.flow.tsx
  src/flows2/flows/hybrid.flow.tsx
  src/flows2/flows/implicitHybrid.flow.tsx
  src/flows2/flows/par.flow.tsx
  src/flows2/flows/redirectless.flow.tsx
  src/flows2/flows/refreshToken.flow.tsx
  src/flows2/flows/ropc.flow.tsx
  src/flows2/framework/UseTokensStep.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: add shared SpecToggle + CredentialsForm; refactor reference
  src/flows2/flows/authorizationCode.flow.tsx
  src/flows2/framework/CredentialsForm.tsx
  src/flows2/framework/SpecToggle.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

flows2: refactor Configure steps onto shared SpecToggle + CredentialsForm
  docs/flows2-standardization.md
  src/flows2/flows/clientCredentials.flow.tsx
  src/flows2/flows/deviceAuthorization.flow.tsx
  src/flows2/flows/dpop.flow.tsx
  src/flows2/flows/hybrid.flow.tsx
  src/flows2/flows/implicitHybrid.flow.tsx
  src/flows2/flows/oidcDiscovery.flow.tsx
  src/flows2/flows/par.flow.tsx
  src/flows2/flows/redirectless.flow.tsx
  src/flows2/flows/refreshToken.flow.tsx
  src/flows2/flows/ropc.flow.tsx
  src/flows2/flows/samlBearerAssertion.flow.tsx
  src/flows2/flows/tokenExchange.flow.tsx
  src/flows2/flows/tokenIntrospection.flow.tsx
  src/flows2/flows/tokenRevocation.flow.tsx
  src/flows2/flows/userInfo.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

flows2: reframe redirectless as Authorization Code + response_mode=pi.flow
  docs/flows2-standardization.md
  src/flows2/flows/redirectless.flow.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: worker token modal, widget, and banner components
  src/App.tsx
  src/components/WorkerTokenBanner.tsx
  src/components/WorkerTokenCredentialModal.tsx
  src/components/WorkerTokenWidget.tsx
  src/v8u/components/OAuthAuthzV2/OAuthAuthzLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

refactor: convert WorkerTokenModal to event bridge, update V8 + V2 layouts
  src/components/WorkerTokenModal.tsx
  src/v8/components/WorkerTokenSectionV8.tsx
  src/v8u/components/AuthCodeFlowV2/AuthCodeFlowLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
