Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

fix: replace ❓ emoji placeholders with real Feather icons
  src/components/DragDropSidebar.V2.tsx
  src/v8u/components/SpecVersionSelector.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: replace question mark emoji placeholders with Bootstrap Icons
  .DS_Store
Due: none

feat: add git-driven dashboard auto-update script
  package.json
  scripts/update-dashboards.mjs
  src/components/CleanlinessDashboardWorking.tsx
  src/services/cleanupHistoryService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: enhance PingOne password management with region support
  server.js
  src/pages/security/HelioMartPasswordReset.tsx
  src/services/passwordResetService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Remove floating step from org licensing; add Webhook Setup tab for localhost
  server.js
  src/pages/OrganizationLicensing.tsx
  src/pages/PingOneWebhookViewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write
