Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: send dataType on OAuth backup load to stop 400 console spam
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  scripts/oauth-flow-smoke-audit.mjs
  src/lab/services/__tests__/unifiedOAuthBackupServiceV8U.test.ts
  src/lab/services/unifiedOAuthBackupServiceV8U.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: refresh audit report — 35/35 ok after remaining fixes
  docs/reports/oauth-flow-audit-2026-07-08.json
Due: biome format --write

chore(security): remove committed credentials and private keys
  .gitignore
  .vscode/settings.json
  README.md
  docs/.agent/workflows/verify_unified_flows.md
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  docs/api/postmanCollectionGeneratorV8-notes.txt
  docs/archive/POSTMAN_COLLECTION_STRUCTURE_REFERENCE.md
  docs/archive/POSTMAN_GENERATOR_RESTORE_DOC.md
  docs/archive/POSTMAN_GENERATOR_UI_CONTRACT.md
  docs/archive/SQLITE_USER_SYNC_CLI.md
  docs/archive/V8_QUICK_REFERENCE.md
  docs/archive/V8_READY_FOR_TESTING.md
  docs/archive/V8_REAL_CREDENTIALS_GUIDE.md
  docs/archive/V8_REAL_CREDENTIALS_TESTING.md
  docs/archive/standardized-credential-export-import.md
  docs/mfa/rightTOTP.md
  docs/postman/pingone-complete-all-2026-01-22-collection-environment.json
  docs/postman/pingone-complete-all-2026-01-22-collection.json
  docs/postman/pingone-complete-all-2026-01-23-collection-environment.json
  docs/postman/pingone-complete-all-2026-01-23-collection.json
  docs/root-notes/FINAL-API-FIXES-SUMMARY.md
  docs/root-notes/REDIRECTLESS_AUTHENTICATION_FIX.md
  docs/root-notes/SECURITY_AUDIT_REPORT.md
  docs/root-notes/SETUP.md
  docs/root-notes/TESTING-RESULTS.md
  docs/root-notes/test-redirectless-flow.md
  scripts/test-all-apis.js
  src/components/PingOneApplicationConfig.tsx
  src/mfa/config/testCredentials.ts
  src/pages/Login.tsx
  src/services/postmanCollectionGeneratorV8.ts
  src/services/postmanCollectionGeneratorV8.ts.backup.1773920174
  tests/manual/test-auth-url-generation.js
  tests/manual/test-complete-password-flow.mjs
  tests/manual/test-password-force-change-demo.mjs
  tests/manual/test-password-operations.mjs
  tests/manual/test-user-lookup-direct.mjs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore(security): remove hardcoded PingOne API secret
  .env.example
Due: none

security: remove committed RSA private key, widen key-material gitignore
  .gitignore
  resources/keys/private_key.pem
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
