Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

config: change oauthPlayground backend port from 3001 to 3002 to avoid conflict with AI-Demo banking API
  fix-backend.sh
  package.json
  scripts/dev/kill-servers.sh
  scripts/development/run.sh
  scripts/development/start.sh
  scripts/development/stop.sh
  scripts/start.sh
  server-frontend-proxy.js
Due: biome format --write

feat: add parameter-driven docker control script
  docker-control.sh
Due: none

refactor(docker-control): add AI-Demo features
  docker-control.sh
Due: none

fix(worker-token-section): use correct WorkerTokenModal import
  src/v8/components/WorkerTokenSectionV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

chore: add run-oauth.sh startup script at root level for easy access
  run-oauth.sh
Due: none
