Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(docker): add restart.sh for stop → pull → start workflow (#6)
  restart.sh
Due: none

refactor(docker): rename restart.sh → run-oauth.sh
  run-oauth.sh
Due: none

refactor(docker): rename restart.sh → run-oauth.sh (#7)
  run-oauth.sh
Due: none

refactor(docker): rename run-oauth.sh → run-oauth-docker.sh
  run-oauth-docker.sh
Due: none

refactor(docker): rename run-oauth.sh → run-oauth-docker.sh (#8)
  run-oauth-docker.sh
Due: none

feat(flows2): add remaining clean-core flows (#7,#9,#10,#11,#12,#13,#14)
  docs/V7_DELETION_ANALYSIS.md
  src/App.tsx
  src/config/sidebarMenuConfig.ts
  src/flows2/flows/AuthCallback.tsx
  src/flows2/flows/ImplicitHybridCallback.tsx
  src/flows2/flows/dpop.flow.tsx
  src/flows2/flows/implicitHybrid.flow.tsx
  src/flows2/flows/oidcDiscovery.flow.tsx
  src/flows2/flows/par.flow.tsx
  src/flows2/flows/redirectless.flow.tsx
  src/flows2/flows/refreshToken.flow.tsx
  src/flows2/flows/ropc.flow.tsx
  src/flows2/framework/authzStash.ts
  src/flows2/services/__tests__/dpopService.test.ts
  src/flows2/services/__tests__/implicitHybridService.test.ts
  src/flows2/services/__tests__/oidcDiscoveryService.test.ts
  src/flows2/services/__tests__/parService.test.ts
  src/flows2/services/__tests__/redirectlessService.test.ts
  src/flows2/services/__tests__/refreshTokenService.test.ts
  src/flows2/services/__tests__/ropcService.test.ts
  src/flows2/services/dpopService.ts
  src/flows2/services/implicitHybridService.ts
  src/flows2/services/oidcDiscoveryService.ts
  src/flows2/services/parService.ts
  src/flows2/services/pingone.ts
  src/flows2/services/redirectlessService.ts
  src/flows2/services/refreshTokenService.ts
  src/flows2/services/ropcService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(flows2): real-mode UserInfo in Auth Code flow + restore ropcService TokenResult import
  src/flows2/services/authorizationCodeService.ts
  src/flows2/services/ropcService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
