Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(mcp): _extractName captures multi-word app names; raise app fetch limit to 200
  server.js
Due: biome format --write

fix(admin-signout): reset useAdminLogin on sign-out so agent exits admin mode
  src/components/AIAssistant.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(user-login): use response_type=code+PKCE instead of token id_token (fixes 400 on Authz Code-only apps)
  src/components/AIAssistantSidePanel.tsx
  src/pages/protect-portal/services/pingOneLoginService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(ai-assistant): show worker token for 'show my token' when no user token; improve 400 error detail
  AIAssistant/src/components/AIAssistant.tsx
  src/components/AIAssistant.tsx
  src/pages/protect-portal/services/pingOneLoginService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(tools-panel): shorten tab labels, add dividers between tabs, prevent clipping
  src/components/AIAssistantSidePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

test: fix stale pingOneLoginService tests (code+PKCE); improve mcp-user-token-via-login tests
  server.js
  src/pages/protect-portal/services/__tests__/pingOneLoginService.test.ts
  tests/backend/mcp-user-token-via-login.test.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
