Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Create unified OAuthPlaygroundHub page consolidating code editor, code generator, and code examples - v9.16.28
  package.json
  src/App.tsx
  src/components/CleanlinessDashboardWorking.tsx
  src/pages/OAuthPlaygroundHub.tsx
  src/services/cleanupHistoryService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Add loading states and lazy loading to OAuthPlaygroundHub - v9.16.29
  package.json
  src/pages/OAuthPlaygroundHub.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(security): OAuth/OIDC validation services + tests (state, nonce, id_token)
  OAUTH_OIDC_RECOMMENDATIONS.md
  src/services/__tests__/idTokenValidation.test.ts
  src/services/__tests__/nonceValidation.test.ts
  src/services/__tests__/stateValidation.test.ts
  src/services/idTokenValidator.ts
  src/services/nonceValidationService.ts
  src/services/stateValidationService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

docs(security): wiring design for state/nonce/id_token validation
  docs/security/STATE-NONCE-IDTOKEN-WIRING-DESIGN.md
Due: biome format --write

feat(security): wire StateValidationService into live OAuth callbacks (pass 1)
  src/components/callbacks/AuthzCallback.tsx
  src/components/callbacks/HybridCallback.tsx
  src/components/callbacks/ImplicitCallback.tsx
  src/hooks/useAuthorizationCodeFlowController.ts
  src/hooks/useAuthorizationCodeFlowV7Controller.ts
  src/hooks/useHybridFlowController.ts
  src/hooks/useImplicitFlowController.ts
  src/utils/__tests__/stateValidationGate.test.ts
  src/utils/stateValidationGate.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs(security): approved spec for state-validation wiring pass 1
  docs/superpowers/specs/2026-05-16-state-validation-wiring-pass1-design.md
Due: biome format --write

fix(tests): repair Spinner keyframe crash, stale ServiceResult assertions, scope vitest
  CHANGELOG.md
  src/components/Spinner.tsx
  src/services/__tests__/workerTokenDiscoveryService.test.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

test: migrate 15 test files from Jest APIs to Vitest
  CHANGELOG.md
  src/components/__tests__/RARIntegration.test.tsx
  src/components/sidebar/__tests__/Phase2-Enhancements.test.tsx
  src/components/sidebar/__tests__/SidebarPerformance.test.tsx
  src/contexts/__tests__/NewAuthContext.enhanced.test.tsx
  src/services/__tests__/flowContextService.test.ts
  src/services/__tests__/pingOneMfaService.enhanced.test.ts
  src/services/__tests__/qrCodeService.test.ts
  src/services/__tests__/redirectStateManager.test.ts
  src/test/infinite-loop-prevention.test.tsx
  src/v8/components/__tests__/StepActionButtonsV8.test.tsx
  src/v8/hooks/__tests__/useStepNavigationV8.test.ts
  src/v8/services/__tests__/tokenExchangeServiceV8.test.ts
  src/v8/services/__tests__/unifiedMFASuccessPageServiceV8.test.tsx
  src/v8/services/auth/__tests__/tokenGatewayV8.test.ts
  src/v8/utils/__tests__/toastNotificationsV8.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
