Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Update version to 9.2.6 for SMS registration fix
  package.json
Due: biome format --write

Update SMS Template with Enhanced Features Information (v9.2.6)
  src/v8/config/deviceFlowConfigs.ts
  src/v8/flows/unified/components/UnifiedOTPActivationTemplate.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Add MFA cURL Debug Guide and Test Script (v9.2.6)
  mfa-curl-debug-guide.md
  test-sms-registration.sh
Due: biome format --write

Comprehensive Lint Fixes for Unified MFA and Unified OAuth (v9.2.7)
  lint-fix-unified.sh
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
  src/v8/flows/unified/components/DeviceComponentRegistry.tsx
  src/v8/flows/unified/components/DynamicFormRenderer.tsx
  src/v8/flows/unified/components/UnifiedActivationStep.tsx
  src/v8/flows/unified/components/UnifiedDeviceRegistrationForm.tsx
  src/v8/flows/unified/components/UnifiedDeviceSelectionStep.modern.tsx
  src/v8/flows/unified/components/UnifiedDeviceSelectionStep.tsx
  src/v8/services/mfaServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Fix MFA Flow Credentials and Import Paths (v9.2.8)
  .DS_Store
  debug-sms-registration.js
  docs/QUICK_WIN_1_IMPLEMENTATION_STATUS.md
  docs/contracts/sms-registration-flow-contract.md
  scripts/check-token-gateway-usage.sh
  server.js
  src/components/CompleteMFAFlowV7.tsx
  src/components/MFAUserSettingsGatherer.tsx
  src/pages/docs/PingOneScopesReference.tsx
  src/services/unifiedWorkerTokenService.ts
  src/v8/components/SuperSimpleApiDisplayV8.tsx
  src/v8/components/UserLoginModalV8.tsx
  src/v8/config/deviceFlowConfigs.ts
  src/v8/flows/MFAAuthenticationMainPageV8.tsx
  src/v8/flows/components/modals/MFAFIDO2ChallengeModal.tsx
  src/v8/flows/components/modals/index.ts
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
  src/v8/services/auth/__tests__/tokenGatewayV8.test.ts
  src/v8/services/auth/tokenGatewayV8.ts
  src/v8/services/mfaAuthenticationServiceV8.ts
  src/v8/services/mfaFeatureFlagsV8.ts
  src/v8/services/mfaServiceV8.ts
  src/v8/services/mfaTokenManagerV8.ts
  src/v8/utils/workerTokenModalHelperV8.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Remove unnecessary p1:update:device scope requirement (v9.2.9)
  src/v8/components/UserLoginModalV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
