Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

docs: mark Gate B complete in STANDARDIZATION_HANDOFF
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

fix: remove duplicate component declarations in FlowComparison and CIBAvsDeviceAuthz (resolves TS1005 syntax errors)
  src/pages/CIBAvsDeviceAuthz.tsx
  src/pages/FlowComparison.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(v9-flows): remove unused imports/variables, sort imports, format (biome cleanup)
  src/pages/flows/v9/ClientCredentialsFlowV9.tsx
  src/pages/flows/v9/DeviceAuthorizationFlowV9.tsx
  src/pages/flows/v9/ImplicitFlowV9.tsx
  src/pages/flows/v9/JWTBearerTokenFlowV9.tsx
  src/pages/flows/v9/MFAWorkflowLibraryFlowV9.tsx
  src/pages/flows/v9/OAuthAuthorizationCodeFlowV9.tsx
  src/pages/flows/v9/OIDCHybridFlowV9.tsx
  src/pages/flows/v9/PingOnePARFlowV9.tsx
  src/pages/flows/v9/SAMLBearerAssertionFlowV9.tsx
  src/pages/flows/v9/WorkerTokenFlowV9.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: update handoff with biome cleanup + TS syntax fix (HEAD a92028c)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD e3ebe86)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD 18bd57e)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD 032a257)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD e214c66)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD 8fef388)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD d16498c)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

docs: update handoff with biome cleanup + TS syntax fix (HEAD 79352b9)
  A-Migration/STANDARDIZATION_HANDOFF.md
Due: biome format --write

fix(v9): biome cleanup — unused error vars, import sort, formatting in 3 V9 services + DeviceAuthFlowV9
  src/pages/flows/v9/DeviceAuthorizationFlowV9.tsx
  src/services/v9/V9AppDiscoveryService.ts
  src/services/v9/V9WorkerTokenStatusService.ts
  src/services/v9/v9FlowCompletionService.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: migrate console.* → logger.* in Legacy sidebar files
  A-Migration/LEGACY_MENU_ITEMS_TRACKING.md
  src/hooks/useResourceOwnerPasswordFlowV7.ts
  src/pages/flows/OAuth2ResourceOwnerPasswordFlow.tsx
  src/v8/flows/ImplicitFlowV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8_Legacy.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
