Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

CRITICAL FIX: Update OTP Configuration Pages with Unified WorkerTokenUIServiceV8
  src/v8/flows/types/EmailOTPConfigurationPageV8.tsx
  src/v8/flows/types/FIDO2FlowV8.tsx
  src/v8/flows/types/MobileOTPConfigurationPageV8.tsx
  src/v8/flows/types/SMSOTPConfigurationPageV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Phase 4: Complete Device Flows & Shared Component Worker Token UI Unification
  src/v8/flows/shared/MFAConfigurationStepV8.tsx
  src/v8/flows/types/MobileFlowV8.tsx
  src/v8/flows/types/TOTPFlowV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Add comprehensive token UI service with global worker token sync and enhance user login modal app lookup
  package.json
  src/v8/components/TokenUIIntegrationV8.tsx
  src/v8/components/UserLoginModalV8.tsx
  src/v8/services/comprehensiveTokenUIService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Update all version numbers to 9.0.0 for synchronized release
  package.json
Due: biome format --write

fix: Prevent app dropdown cutoff in user login modal
  src/v8u/components/CompactAppPickerV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

version: Update to 9.0.1 for synchronized release
  package.json
Due: biome format --write
