Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: Resolve critical TypeScript errors in AuthenticationFlowStepperV8
  src/v8/components/AuthenticationFlowStepperV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Complete TypeScript error resolution and testing infrastructure
  src/v8/components/MFASettingsModalV8.tsx
  tests/unit/AccessibleButton.test.tsx
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: silence IDE problems - biome override for server.js, tsconfig ignoreDeprecations, script duplicate cleanup
  biome.json
  scripts/_fix_mfaCredentialManager.py
Due: biome format --write

fix: convert server.js indentation from tabs to spaces (fixes use_spaces IDE errors)
  server.js
Due: biome format --write

fix: Critical runtime error - logger undefined in mfaFeatureFlagsV8
  src/v8/services/mfaFeatureFlagsV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Replace alert with modern notification in webhookViewerPopoutHelper
  src/v8/utils/webhookViewerPopoutHelper.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
