Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: update cleanliness dashboard status and history timestamp
  src/components/CleanlinessDashboardWorking.tsx
  src/services/cleanupHistoryService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

security: may_act/act RFC 8693 delegation in token exchange
  api/token-exchange.js
  server.js
Due: biome format --write

security: client_secret stored server-side only, never in bundle or API response
  api/token-exchange.js
  server.js
  src/components/CredentialSetupModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

ux: pre-configured mode for shared Vercel deployment, local SQLite+IndexedDB unchanged
  server.js
  src/components/CredentialSetupModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

security: harden RFC 8693 may_act validation — AND semantics, typed error codes
  api/token-exchange.js
  tests/backend/env-config.test.js
  tests/backend/password-reset.test.js
Due: biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
