Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Add MCP server credential saving to SharedCredentialsServiceV8
  src/v8/services/sharedCredentialsServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Update regression plan with complete pages implementation
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
Due: biome format --write

Enhance Logger functionality to append logs to file
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
  src/v8/services/specVersionServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

AIAssistant: red header/icons, MCP status, sync; Unified MFA: remove duplicate checkboxes
  AIAssistant/src/components/AIAssistant.tsx
  AIAssistant/src/services/unifiedWorkerTokenService.ts
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  src/components/AIAssistant.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Enhance Logger functionality to append logs to file
  MCP_SERVER_DEVELOPMENT_PLAN.md
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  package.json
  pingone-mcp-server/src/services/logger.ts
  scripts/development/run.sh
  src/components/AIAssistant.tsx
  src/services/callbackUriService.ts
  src/services/customDomainService.ts
  src/services/flowHeaderService.tsx
  src/services/v9/V9RedirectUriService.ts
  src/utils/flowRedirectUriMapping.ts
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8/flows/unified/UnifiedMFARegistrationFlowV8.tsx
  src/v8/services/redirectUriServiceV8.ts
  src/v8u/components/UnifiedFlowSteps.tsx
  src/v8u/flows/UnifiedOAuthFlowV8U.tsx
  src/v8u/services/flowSettingsServiceV8U.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

chore: linter/cleanup changes + Unified MFA migration status doc
  A-Migration/UNIFIED_MFA_MIGRATION_STATUS.md
  src/App.tsx
  src/components/CleanlinessDashboardWorking.tsx
  src/components/CollapsibleIcon.tsx
  src/components/EnhancedFloatingLogViewer.tsx
  src/components/PingOneApplicationPicker.tsx
  src/components/RedirectlessLoginModalV9.tsx
  src/components/WorkerTokenModalV9.tsx
  src/pages/CombinedTokenPage.tsx
  src/pages/Configuration.tsx
  src/pages/flows/DPoPFlow.tsx
  src/pages/flows/PingOneLogoutFlow.tsx
  src/pages/flows/SAMLServiceProviderFlowV1.tsx
  src/pages/flows/UserInfoPostFlow.tsx
  src/pages/flows/v9/DeviceAuthorizationVerifyPage.tsx
  src/pages/flows/v9/JWTBearerTokenFlowV9.tsx
  src/pages/flows/v9/SAMLBearerAssertionFlowV9.tsx
  src/pages/flows/v9/V7MCIBAFlowV9.tsx
  src/pages/flows/v9/V7MClientCredentialsV9.tsx
  src/pages/flows/v9/V7MDeviceAuthorizationV9.tsx
  src/pages/flows/v9/V7MImplicitFlowV9.tsx
  src/pages/flows/v9/V7MOAuthAuthCodeV9.tsx
  src/pages/flows/v9/V7MOIDCHybridFlowV9.tsx
  src/pages/flows/v9/V7MROPCV9.tsx
  src/protect-app/components/dashboard/DemoWorkerTokenUI.tsx
  src/services/cleanupHistoryService.ts
  src/services/flowUIService.tsx
  src/v8/flows/unified/components/UnifiedErrorDisplayV8.tsx
  src/v8/services/sharedCredentialsServiceV8.ts
  src/v8u/components/steps/PollingStep.tsx
  src/v8u/components/steps/TokenRequestStep.tsx
  src/v8u/flows/SpiffeSpireFlowV8U.tsx
  src/v8u/pages/ReportsPage.tsx
  src/v8u/pages/SettingsPage.tsx
  src/v8u/pages/UserManagementPage.tsx
  src/v8u/services/tokenMonitoringService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
