Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

docs: add changelog for Configuration & Dashboard V8 migration
  docs/updates-to-apps/configuration-dashboard-v8-migration.md
Due: biome format --write

chore: add EditorConfig and Prettier configuration
  .editorconfig
  .prettierrc
Due: none

fix: update Dashboard config section title to 'Custom Domain Config'
  src/pages/Dashboard.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: migrate PingOne User Profile to unified worker token service
  docs/updates-to-apps/pingone-user-profile-updates.md
  src/pages/PingOneUserProfile.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

docs: add worker token service check to migration guides
  docs/migration/migrate_cursor.md
  docs/migration/migrate_vscode.md
Due: biome format --write
