Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: expand PingOneUserProfile selector layout
  src/pages/PingOneUserProfile.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: add changelogs for 1f47034 and a9c6644 commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for a4f262e and 4374166 commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for 62ae87e and 8584531 commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for 441265a and 078e19e commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for b9083d0 and dfc10e3 commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for 301e191 and b4d3ca1 commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for 8291c5f and 302fdec commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

docs: add changelogs for 829f1e0 and 4c7000a commits per prompt-all.md
  docs/updates-to-apps/code-quality-cleanup-2026-02-27.md
  docs/updates-to-apps/pingone-user-profile-updates.md
Due: biome format --write

fix: move version badges to top of Dashboard, single row
  src/pages/Dashboard.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: prevent false "expired" banner when valid token just generated
  src/pages/PingOneUserProfile.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: add JSON/formatted toggle to Identity Metrics; standardize UserProfile worker token
  docs/updates-to-apps/pingone-identity-metrics-updates.md
  docs/updates-to-apps/pingone-user-profile-updates.md
  src/pages/PingOneIdentityMetrics.tsx
  src/pages/PingOneUserProfile.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: prevent auto-fetch of worker token on password-reset page load
  src/hooks/useGlobalWorkerToken.ts
  src/pages/security/HelioMartPasswordReset.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
