Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

fix(get-user): support 'Get userid for <name>' query pattern
  AIAssistant/src/services/mcpQueryService.ts
  server.js
  src/services/__tests__/mcpQueryService.test.ts
  src/services/mcpQueryService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(add-user-to-group): correct POST body format to {group:{id}} per PingOne API
  server.js
Due: biome format --write

feat(mcp): auto-resolve usernames/emails/group-names to IDs in all API commands
  server.js
Due: biome format --write

feat(mcp): add set-user-population command with auto name→ID resolution
  AIAssistant/src/services/mcpQueryService.ts
  server.js
  src/services/__tests__/mcpQueryService.test.ts
  src/services/mcpQueryService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(mcp): prevent list_users from matching 'List MFA devices for user X'
  server.js
  src/services/__tests__/mcpQueryService.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(p1-login): pre-fill authzClientId instead of worker clientId in P1 Login tab
  src/components/AIAssistantSidePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
