Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(v9): redirect all remaining V7 routes to V9 equivalents
  src/App.tsx
  src/config/sidebarMenuConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs(v9): mark all V7 route redirects complete; ROPC V9 done
  docs/migration/V9_MIGRATION_TODOS.md
Due: biome format --write

docs(v9): capture Mar 2026 migration lessons and update wiring checklist
  A-Migration/MIGRATION_RUNTIME_ISSUES_PREVENTION.md
  A-Migration/V7_TO_V9_MIGRATION_GUIDE.md
  A-Migration/V9_MIGRATION_LESSONS_LEARNED.md
Due: biome format --write

chore: consolidate docs into A-Migration — move V9_MIGRATION_TODOS.md, remove docs/migration/
  A-Migration/V9_MIGRATION_TODOS.md
Due: biome format --write

feat(v9): add DPoP V9 flow + infinite loop fixes + FlowCredentials layout
  docs/fixes/INFINITE_LOOP_PREVENTION_TEST_SUMMARY.md
  scripts/tests/test-infinite-loop-prevention-simple.sh
  scripts/tests/test-infinite-loop-prevention.sh
  src/components/FlowCredentials.tsx
  src/hooks/useImplicitFlowController.ts
  src/pages/flows/TokenRevocationFlow.tsx
  src/pages/flows/v9/DPoPAuthorizationCodeFlowV9.tsx
  src/test/infinite-loop-prevention.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
