Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

docs: mark Worker Token V9 migration complete in V9_MIGRATION_TODOS
  docs/migration/V9_MIGRATION_TODOS.md
Due: biome format --write

chore(docs): consolidate all migration/tracking docs into docs/
  docs/features/PROMPTS_ACCESSIBILITY_IMPLEMENTATION.md
  docs/features/PROMPTS_IMPLEMENTATION_SUMMARY.md
  docs/features/USERNAME_DROPDOWN_INTEGRATION_COMPLETE.md
  docs/features/USER_DROPDOWN_AUTO_POPULATE_COMPLETE.md
  docs/features/USER_PROFILE_UPDATES_COMPLETE.md
  docs/fixes/API_STATUS_404_ERROR_FIXED.md
  docs/fixes/COMMAND_EXECUTION_FIX.md
  docs/fixes/CONSOLE_ERRORS_FIXED.md
  docs/fixes/CONSOLE_ERRORS_RESOLVED.md
  docs/fixes/CUSTOM_DOMAIN_API_ENDPOINTS_FIXED.md
  docs/fixes/ORGANIZATION_LICENSING_BUTTONS_FIXED.md
  docs/fixes/PINGONE_USERPROFILE_HOOKS_ORDER_FIXED.md
  docs/fixes/REACT_CHILD_OBJECT_ERROR_FIXED.md
  docs/fixes/V8MTokenExchange_INFINITE_LOOP_FIXED.md
  docs/fixes/biome-validation-summary.md
  docs/migration/ADVANCED_CONFIGURATION_MIGRATION_COMPLETE.md
  docs/migration/PRIORITY_1_SERVICES_MIGRATION_PROGRESS.md
  docs/migration/RED_HEADER_MIGRATION_REPORT.md
  docs/migration/SERVICE_USAGE_TRACKING.md
  docs/migration/SESSION_COMPLETION_REPORT.md
  docs/migration/V7_MIGRATION_PROGRESS.md
  docs/migration/V7_SERVICES_CONTRACTS.md
  docs/migration/V7_TO_V9_MIGRATION_MAPPING.md
  docs/migration/V7_V8_V9_SERVICES_CONTRACTS.md
  docs/migration/V7_V9_MIGRATION_ISSUE_TRACKING.md
  docs/migration/V8_SERVICES_MIGRATION_ANALYSIS.md
  docs/migration/V8_V9_MIGRATION_ANALYSIS.md
  docs/migration/WORKER_TOKEN_MODALS_NOTIFICATION_MIGRATION_COMPLETE.md
  docs/working-notes/DAILY_DEV_LOG_2026-02-28.md
  docs/working-notes/DOCUMENTATION_INDEX_2026-02-28.md
  docs/working-notes/MEMORY_RULES.md
  docs/working-notes/memory.md
Due: biome format --write

feat(v9): wire PingOne PAR V9 route + sidebar + flowHeader
  docs/migration/V9_MIGRATION_TODOS.md
  src/App.tsx
  src/config/sidebarMenuConfig.ts
  src/services/flowHeaderService.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(v9): wire MFA Workflow Library V9 route + sidebar + flowHeader
  docs/migration/V9_MIGRATION_TODOS.md
  src/App.tsx
  src/config/sidebarMenuConfig.ts
  src/pages/flows/v9/MFAWorkflowLibraryFlowV9.tsx
  src/services/flowHeaderService.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(v9): correct import depth in PingOnePARFlowV9 (../../ -> ../../../)
  src/pages/flows/v9/PingOnePARFlowV9.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(v9): redirect all remaining V7 routes to V9 equivalents
  src/App.tsx
  src/config/sidebarMenuConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix
