Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

🗑️ Delete Resolved Critical Issues Document (v9.25.1)
  PROTECT_PORTAL_CRITICAL_ISSUES.md
  package.json
Due: biome format --write

🔧 Unified Sidebar Component Created (v9.26.0)
  fix production.md
  package.json
  src/App.tsx
  src/apps/navigation/components/UnifiedSidebar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

🔧 Unified Sidebar Component Final Commit (v9.26.1)
  package.json
Due: biome format --write

Fix Protect Portal dark theme and CorporateFooter errors
  package.json
  src/pages/protect-portal/ProtectPortalApp.PingUI.tsx
  src/pages/protect-portal/components/Shared/CorporateFooter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: Bootstrap migration foundation fixes
  src/components/bootstrap/BootstrapFormField.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Bootstrap migration syntax fixes
  src/pages/ApplicationGenerator.PingUI.tsx
  src/pages/Configuration.PingUI.tsx
  src/pages/Dashboard.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Bootstrap migration for high-priority components
  src/apps/mfa/components/MFANavigationV8.tsx
  src/components/bootstrap/BootstrapButton.tsx
  src/v8/components/StepActionButtonsV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: Complete Bootstrap migration documentation updates
  BOOTSTRAP_MIGRATION_STATUS.md
  PINGONE_UI_BOOTSTRAP_MIGRATION_PLAN.md
Due: biome format --write

feat: Set server.log as default logging with color highlighting
  scripts/startup-enhanced.sh
  scripts/startup-prompt.sh
Due: none

feat: Update run.sh script to use server.log with color highlighting
  scripts/development/run.sh
Due: none

revert: Use backend.log consistently across all startup scripts
  scripts/development/run.sh
  scripts/startup-enhanced.sh
  scripts/startup-prompt.sh
Due: none

fix: Restore missing OAuth and MFA menu sections in sidebar
  src/App.tsx
  src/apps/navigation/components/UnifiedSidebar.V2.tsx
  src/pages/Dashboard.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Add comprehensive monitoring options and missing menu items
  scripts/development/run.sh
  scripts/startup-enhanced.sh
  scripts/startup-prompt.sh
  src/apps/navigation/components/UnifiedSidebar.V2.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
