Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Phase 0 - MFA consolidation pre-implementation setup
  mfa-consolidation-test-matrix.md
  src/v8/config/deviceFlowConfigTypes.ts
  src/v8/services/__tests__/mfaCredentialManagerV8.test.ts
  src/v8/services/__tests__/mfaFeatureFlagsV8.test.ts
  src/v8/services/__tests__/mfaTokenManagerV8.test.ts
  src/v8/services/mfaFeatureFlagsV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

docs: Add Phase 0 completion report
  PHASE-0-COMPLETE.md
Due: biome format --write

feat: Add MFA Feature Flags Admin UI
  src/App.tsx
  src/v8/pages/MFAFeatureFlagsAdminV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Remove side-effect import of mfaFeatureFlagsV8
  src/App.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Remove ES6 export from CommonJS server.js
  server.js
Due: biome format --write

fix: Add missing closing brace to server.js
  server.js
Due: biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
