Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

test(e2e): add Playwright E2E suite for V2 authorization code + PKCE mock flow (#2)
  tests/e2e/v2-authz-code-mock.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(docker): add Docker Compose support for oauthPlayground
  .dockerignore
  Dockerfile.backend
  Dockerfile.frontend
  docker-compose.yml
  nginx.conf
Due: none

feat(docker): add dev-mode Docker Compose with Vite hot-reload
  Dockerfile.dev
  docker-compose.dev.yml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat(docker): prod + dev Docker Compose for oauthPlayground (#3)
  .dockerignore
  Dockerfile.backend
  Dockerfile.dev
  Dockerfile.frontend
  docker-compose.dev.yml
  docker-compose.yml
  nginx.conf
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(docker): suppress xdg-open ENOENT in Vite dev container
  docker-compose.dev.yml
Due: none

fix(docker): suppress xdg-open ENOENT in Vite dev container (#4)
  docker-compose.dev.yml
Due: none

chore(git): untrack runtime artifacts and add proper gitignore rules (#5)
  .claude/settings.local.json
  .claude/skills/oauth-oidc-mcp-server/SKILL.md
  .env.local
  .gitignore
  src/server/data/backups.db
  src/server/data/settings.db
  src/server/data/users.db-shm
  src/server/data/users.db-wal
Due: biome format --write

chore(git): untrack runtime artifacts and add proper gitignore rules (#5)
  .claude/settings.local.json
  .claude/skills/oauth-oidc-mcp-server/SKILL.md
  .gitignore
  src/server/data/backups.db
  src/server/data/settings.db
  src/server/data/users.db-shm
  src/server/data/users.db-wal
Due: biome format --write

feat(docker): add restart.sh for stop → pull → start workflow
  restart.sh
Due: none
