Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(user-login): pi.flow with token id_token, authz client, token-exchange endpoint
  AIAssistant/src/services/unifiedWorkerTokenService.ts
  server.js
  src/components/AIAssistantSidePanel.tsx
  src/components/CleanlinessDashboardWorking.tsx
  src/pages/Configuration.tsx
  src/pages/protect-portal/services/pingOneLoginService.ts
  src/services/cleanupHistoryService.ts
  src/services/unifiedWorkerTokenService.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(pi.flow): extract tokens from authorizeResponse; fix LOCAL_PATTERNS ordering; add tests
  AIAssistant/src/services/mcpQueryService.ts
  docs/guides/ai-assistant-architecture.md
  server.js
  src/pages/protect-portal/services/__tests__/pingOneLoginService.test.ts
  src/pages/protect-portal/services/pingOneLoginService.ts
  src/services/__tests__/mcpQueryService.test.ts
  src/services/mcpQueryService.ts
  tests/backend/mcp-user-token-via-login.test.js
  tests/backend/pingone-token-exchange.test.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(tools-panel): draggable on full-page, closed on load, tabs fit width; fix docs URL
  docs/guides/ai-assistant-architecture.md
  src/components/AIAssistant.tsx
  src/components/AIAssistantSidePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix(tools-panel): pointer-events on draggable panel; grab cursor scoped to header only
  src/components/AIAssistantSidePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(tools-panel): render DraggablePanel directly without overlay wrapper in noBackdrop mode
  src/components/AIAssistantSidePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix(mcp): _extractName captures multi-word app names; raise app fetch limit to 200
  server.js
Due: biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
