Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

version: Update to 9.0.1 for synchronized release
  package.json
Due: biome format --write

feat: Make user login modal wider for better content layout
  src/v8/components/UserLoginModalV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

version: Update to 9.0.2 for synchronized release
  package.json
Due: biome format --write

feat: Add import and export buttons to user login modal
  src/v8/components/UserLoginModalV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

version: Update to 9.0.3 for synchronized release
  package.json
Due: biome format --write

fix: Admin flow worker token validation for all MFA device types
  package.json
  src/v8/flows/types/EmailOTPConfigurationPageV8.tsx
  src/v8/flows/types/FIDO2ConfigurationPageV8.tsx
  src/v8/flows/types/MobileOTPConfigurationPageV8.tsx
  src/v8/flows/types/SMSOTPConfigurationPageV8.tsx
  src/v8/flows/types/TOTPConfigurationPageV8.tsx
  src/v8/flows/types/WhatsAppOTPConfigurationPageV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
