Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

feat: Complete version synchronization and documentation updates for MasterFlow API v9.13.4
  README.md
  index.html
  typescript
Due: biome format --write

feat: Complete version synchronization and documentation updates for MasterFlow API v9.13.4
  .env
  README.md
  index.html
  typescript
Due: biome format --write

style: Apply comprehensive code formatting across entire codebase
  src/api/credentialsSqliteApi.js
  src/server/routes/backupApiRoutes.js
  src/server/routes/userApiRoutes.js
  src/server/services/backupDatabaseService.js
  src/server/services/settingsDatabaseService.js
  src/server/services/userDatabaseService.js
  src/server/tokenStorageApi.js
  src/tests/simple-storage-test.js
  src/v8/components/AuthenticationFlowStepperV8.tsx
  typescript
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

style: Apply comprehensive code formatting across entire codebase
  logs/server.log
  src/api/credentialsSqliteApi.js
  src/server/routes/backupApiRoutes.js
  src/server/routes/userApiRoutes.js
  src/server/services/backupDatabaseService.js
  src/server/services/settingsDatabaseService.js
  src/server/services/userDatabaseService.js
  src/server/tokenStorageApi.js
  src/tests/simple-storage-test.js
  src/v8/components/AuthenticationFlowStepperV8.tsx
  typescript
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: Resolve critical TypeScript errors in AuthenticationFlowStepperV8
  src/v8/components/AuthenticationFlowStepperV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix
