Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Docs: Update Integration Status Summary to 40% milestone
  docs/Integration-Status-Summary.md
Due: biome format --write

Integration: Partial UnifiedOAuthFlowV8U.tsx (2 of 4 operations)
  src/locked/unified-flow-v8u/feature/v8u/flows/UnifiedOAuthFlowV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Fix: Remove malformed fetch calls in UnifiedOAuthFlowV8U.tsx
  src/locked/unified-flow-v8u/feature/v8u/flows/UnifiedOAuthFlowV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Docs: Update Integration Status Summary to 50% complete
  docs/Integration-Status-Summary.md
Due: biome format --write

feat: Complete UnifiedOAuthFlowV8U.tsx CredentialsRepository integration (100%)
  docs/Integration-Status-Summary.md
  src/locked/unified-flow-v8u/feature/v8u/flows/UnifiedOAuthFlowV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Complete MFAAuthenticationMainPageV8.tsx CredentialsRepository integration (100%)
  docs/Integration-Status-Summary.md
  src/v8/flows/MFAAuthenticationMainPageV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Phase 2 OIDC Core Services - Pilot Integration Complete
  docs/Phase2-Integration-Status.md
  docs/Phase2-OIDC-Integration-Plan.md
  src/hooks/useAuthActions.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat: Phase 2 OIDC - Integrate NewAuthContext.tsx (2/155 files complete)
  src/contexts/NewAuthContext.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Phase 2 OIDC - Integrate oauthIntegrationServiceV8.ts (3/155 files)
  src/v8/services/oauthIntegrationServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Phase 2 OIDC - Integrate V8 services (5/155 files complete)
  src/v8/services/hybridFlowIntegrationServiceV8.ts
  src/v8/services/implicitFlowIntegrationServiceV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: Update Phase 2 integration status (5/155 files complete)
  docs/Phase2-Integration-Status.md
Due: biome format --write

chore: Update .gitignore for deployment preparation
  .gitignore
Due: none

chore: Aggressive .gitignore for deployment file reduction
  .gitignore
Due: none

feat: Phase 3A - State validation in callback handlers (1/5 files)
  src/hooks/useAuthActions.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
