Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Phase 1: Create app-based structure - 6 distinct apps including navigation (OAuth, MFA, Protect, User Management, Admin, Navigation)
  SRC_CLEANUP_SIMPLIFIED_PLAN.md
  src/App.tsx
  src/apps/navigation/components/DragDropSidebar.tsx
  src/apps/navigation/components/Navbar.tsx
  src/apps/navigation/components/Sidebar.tsx
  src/apps/navigation/components/SidebarSearch.tsx
  src/apps/navigation/components/VersionBadge.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Add comprehensive feature checks for all 6 apps (MFA, OAuth, Protect, User Management, Admin, Navigation)
  scripts/check-admin-features.sh
  scripts/check-all-app-features.sh
  scripts/check-navigation-features.sh
  scripts/check-user-management-features.sh
Due: none

Update Phase 1: Add granular subfolders for all apps (pages, components, services, flows, hooks, contexts, types, utils, config, constants)
  SRC_CLEANUP_SIMPLIFIED_PLAN.md
Due: biome format --write

Update Phase 2: Add service categorization strategy and testing after each app move
  SRC_CLEANUP_SIMPLIFIED_PLAN.md
  scripts/categorize-services.sh
  service-categorization-report.md
Due: biome format --write

Add comprehensive testing strategy: smoke, integration, and regression testing for smooth migration
  SRC_CLEANUP_SIMPLIFIED_PLAN.md
  scripts/comprehensive-test.sh
  scripts/integration-test.sh
  scripts/regression-test.sh
  scripts/smoke-test.sh
Due: biome format --write

feat: Update Token Apps to PingOne UI
  src/App.tsx
  src/pages/UltimateTokenDisplayDemo.PingUI.tsx
  src/pages/WorkerTokenTester.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Add view mode controls to additional flows
  src/App.tsx
  src/pages/flows/TokenExchangeFlowV9.PingUI.tsx
  src/pages/flows/TokenIntrospectionFlow.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Update User Profile and Identity Metrics to PingOne UI
  src/App.tsx
  src/pages/PingOneIdentityMetrics.PingUI.tsx
  src/pages/PingOneUserProfile.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Update AutoDiscover page to PingOne UI
  src/App.tsx
  src/pages/AutoDiscover.PingUI.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: Force api.pingdemo.com domain - Never use localhost
  .env
  src/services/domainConfigurationService.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
