Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

fix: Add /user-mfa-login-callback route to prevent App Not Found errors (v7.7.2)
  docs/MFA_CALLBACK_ROUTES_CRITICAL.md
  src/App.tsx
  src/v8/components/MFADocumentationPageV8.tsx
  src/v8/flows/MFAAuthenticationMainPageV8.tsx
  src/v8u/components/CallbackHandlerV8U.tsx
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

fix: Auto-advance MFA flow after OAuth callback instead of redirecting to Hub (v7.7.2)
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8u/components/CallbackHandlerV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Auto-advance MFA flow after OAuth callback instead of redirecting to Hub (v7.7.2)
  logs/server.log
  src/v8/flows/shared/MFAFlowBaseV8.tsx
  src/v8u/components/CallbackHandlerV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

fix: Recreate missing run.sh wrapper script (v7.7.2)
  run.sh
Due: none

feat: Update run.sh to delegate to restart-servers.sh for comprehensive capabilities (v7.7.2)
  run.sh
Due: none
