Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["biome check --write --no-errors-on-unmatched", "eslint --fix"],
	"*.{js,jsx,json,md}": ["biome format --write"]
}

feat: backend endpoint uses worker token for redirect URI updates
  server.js
Due: biome format --write

feat: add config persistence with save/clear buttons
  src/v8u/components/OAuthAuthzV2/OAuthAuthzLayout.tsx
  src/v8u/components/OAuthAuthzV2/components/ConfigPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

feat: silently use worker token if already configured
  src/v8u/components/OAuthAuthzV2/OAuthAuthzLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

refactor: migrate from SQLite to LMDB for all data stores
  package.json
  src/server/lmdb/backupStore.js
  src/server/lmdb/openEnv.js
  src/server/lmdb/settingsStore.js
  src/server/lmdb/userStore.js
  src/server/routes/backupApiRoutes.js
  src/server/routes/userApiRoutes.js
  src/server/services/backupDatabaseService.js
  src/server/services/settingsDatabaseService.js
  src/server/services/userDatabaseService.js
  src/server/tokenStorageApi.js
Due: biome format --write

fix: add missing button styles to inspector CSS
  src/v8u/components/OAuthAuthzV2/components/styles/inspector.css
Due: none
