Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Update CleanlinessDashboardWorking.tsx with new audit items and status changes
  src/components/CleanlinessDashboardWorking.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

🔒 Security: Remove .env from Git tracking, keep API keys secure
  .env.example
  .gitignore
  .windsurf/project-rules.md
  .windsurf/rules/regression-plan-check.mdc
  .windsurf/workflows/regression-prevention.md
  CHANGELOG.md
  docs/ESLINT_BIOME_DISABLE_FIX_PLAN.md
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  docs/issues/ISSUE_REGISTRY.md
  docs/issues/ISSUE_TRACKING_SYSTEM.md
  docs/issues/REGRESSION_PREVENTION_CHECKLIST.md
  docs/issues/button-styling-grey-regression.md
  docs/issues/discovery-logger-method-regression.md
  docs/issues/icon-import-missing-regression.md
  docs/issues/sidebar-z-index-overlay-regression.md
  docs/issues/worker-token-credential-persistence.md
  docs/issues/worker-token-storage-priority-mismatch.md
  package.json
  scripts/update-dashboards-on-commit.mjs
  src/components/DraggableModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

🔒 Security: Remove .env from Git tracking, keep API keys secure
  .env
  .env.example
  .gitignore
  .windsurf/project-rules.md
  .windsurf/rules/regression-plan-check.mdc
  .windsurf/workflows/regression-prevention.md
  CHANGELOG.md
  docs/ESLINT_BIOME_DISABLE_FIX_PLAN.md
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  docs/issues/ISSUE_REGISTRY.md
  docs/issues/ISSUE_TRACKING_SYSTEM.md
  docs/issues/REGRESSION_PREVENTION_CHECKLIST.md
  docs/issues/button-styling-grey-regression.md
  docs/issues/discovery-logger-method-regression.md
  docs/issues/icon-import-missing-regression.md
  docs/issues/sidebar-z-index-overlay-regression.md
  docs/issues/worker-token-credential-persistence.md
  docs/issues/worker-token-storage-priority-mismatch.md
  package.json
  scripts/update-dashboards-on-commit.mjs
  src/components/DraggableModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

feat(ai-assistant): popout window, persistence, streaming, copy/export, MCP routing fixes
  AIAssistant/src/App.tsx
  AIAssistant/src/components/AIAssistant.tsx
  AIAssistant/src/pages/AIAssistantPopoutPage.tsx
  AIAssistant/src/services/groqService.ts
  docs/UPDATE_LOG_AND_REGRESSION_PLAN.md
  server.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Update version to 9.16.1 - Complete token operations merge
  package.json
Due: biome format --write

Complete remaining pages and step components
  logs/server.log
  src/components/CleanlinessDashboardWorking.tsx
  src/services/cleanupHistoryService.ts
  src/v8u/components/steps/PollingStep.tsx
  src/v8u/components/steps/TokenRequestStep.tsx
  src/v8u/pages/ReportsPage.tsx
  src/v8u/pages/SettingsPage.tsx
  src/v8u/pages/UserManagementPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Complete remaining pages and step components
  logs/pingone-api.log
  logs/server.log
  src/components/CleanlinessDashboardWorking.tsx
  src/services/cleanupHistoryService.ts
  src/v8u/components/steps/PollingStep.tsx
  src/v8u/components/steps/TokenRequestStep.tsx
  src/v8u/pages/ReportsPage.tsx
  src/v8u/pages/SettingsPage.tsx
  src/v8u/pages/UserManagementPage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
