Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

🎯 Restrict Security Scorecard & Advanced OAuth Features to Step 0 Only
  src/v8u/flows/UnifiedOAuthFlowV8U.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

📚 Make MFA Sections Collapsible & Update Documentation
  docs/COLLAPSIBLE_SECTIONS_GUIDE.md
  src/v8/flows/MFAHubV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

📚 Update UI Documentation with Collapsible Sections
  docs/UI_DOCUMENTATION_UPDATE_SUMMARY.md
  docs/flows/unified-flow-main-page-ui-doc.md
  docs/mfa-ui-documentation/README.md
Due: biome format --write

📚 Update UI Documentation with Collapsible Sections
  docs/UI_DOCUMENTATION_UPDATE_SUMMARY.md
  docs/flows/unified-flow-main-page-ui-doc.md
  docs/mfa-ui-documentation/README.md
  logs/startup.log
Due: biome format --write

🔧 Fix Advanced OAuth Features Collapsible Icon Missing
  src/v8u/components/AdvancedOAuthFeatures.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
