Repository curtismu7/oauthPlayground: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

version: Update to 9.0.6 for synchronized release
  package.json
Due: biome format --write

fix: Add collapsed state basic info to TokenUIIntegrationV8
  package.json
  src/v8/components/TokenUIIntegrationV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

version: Update to 9.0.7 for synchronized release
  src/v8/flows/types/EmailOTPConfigurationPageV8.tsx
  src/v8/flows/types/MobileOTPConfigurationPageV8.tsx
  src/v8/flows/types/SMSOTPConfigurationPageV8.tsx
  src/v8/flows/types/TOTPConfigurationPageV8.tsx
  src/v8/flows/types/WhatsAppOTPConfigurationPageV8.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix

docs: Add MFA consolidation design and implementation details
  reduce-mfa-IMPLEMENTATION-DETAILS.md
  reduce-mfa.md
Due: biome format --write

docs: Add MFA file manifest for consolidation project
  mfa-file-manifest.txt
Due: none

feat: Phase 0 - MFA consolidation pre-implementation setup
  mfa-consolidation-test-matrix.md
  src/v8/config/deviceFlowConfigTypes.ts
  src/v8/services/__tests__/mfaCredentialManagerV8.test.ts
  src/v8/services/__tests__/mfaFeatureFlagsV8.test.ts
  src/v8/services/__tests__/mfaTokenManagerV8.test.ts
  src/v8/services/mfaFeatureFlagsV8.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  biome format --write: any of: *.{js,jsx,json,md}
